<div>
    <div>
        <h3>About</h3>
    </div>
    <div>
        <div class="col-md-3 col-xs-5">Created by:</div>
        <div class="col-md-9 col-xs-7">Michael DaSilva</div>
    </div>
    <div>
        <div class="col-md-3 col-xs-5">Contact:</div>
        <div class="col-md-9 col-xs-7"><a href="mdasilva111@yahoo.com" target="_blank">mdasilva111@yahoo.com</a></div>
    </div>
    <div>
        <div class="col-md-3 col-xs-5">GitHub:</div>
        <div class="col-md-9 col-xs-7"><a href="https://github.com/programmedmikey" target="_blank">https://github.com/programmedmikey/</a></div>
    </div>
</div>
